body{
	background-color: maroon;
}
header{
	font-family: cursive;
	color: maroon ;
	text-align: center;
	margin: 0;
	background-color: orange;
}

nav a{
	color: orange;
	font-family: fantasy;
	margin: 0; 
	padding: 10px 12px;
	text-align: center;
}
iframe{
	border: 12px solid black;
}
iframe:hover{
	border: 5px orange;
}